<div class='ui center aligned container'>
  <h1>Welcome to MessageMe - a complete Chat App</h1>
</div>
<h4 class="ui center aligned medium icon header ">
  <i class=" circular red power off icon"></i>
  Write Something
</h4>

<%= render 'login'%>