<div class='twelve wide column'>
  <div class='ui fluid raised card chatbox'>
    <div class='content'>
      <div class="ui feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Elliot Fu</em>: test message
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Stevie Feliciano</em>: another test
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Helen Troy</em> : hi
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Christian Rocha</em> : hello
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <form class='ui replay form'>
        <div class='field'>
          <div class='ui fluid icon input'>
            <input type='text' placeholder='Enter a message...'>
            <i class='bordered inverted red icon edit'></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>