<div class='twelve wide column'>
  <div class='ui fluid raised card chatbox'>
    <div class='content'>
      <div class="ui feed">
        <%= render @messages%>
      </div>
    </div>
    <div class="extra content">
      <form class='ui replay form'>
        <div class='field'>
          <div class='ui fluid icon input'>
            <input type='text' placeholder='Enter a message...'>
            <i class='bordered inverted red icon edit'></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>