<h4 class="ui center aligned medium icon header ">
  <i class="circular comments icon red "></i>
  Write Something
</h4>

<div class='ui two column grid'>
  <%= render 'chatpage'%>

  <%=render 'leftmenu'%>
</div>