<%= form_with(model: @room, remote:true) do |f| %>
<div class="ui input">
  <%= f.text_field :name,  placeholder: 'Enter Room Name', autocomplete: 'off'%>
  <div><%= f.submit "🗸", class:'ui secondary button' %></div>
</div>
<%end%>