<div class='four wide column'>
  <div class='ui fluid raised card chatbox'>
    <div class='content'>
      <div class="ui inverted vertical menu">
        <a class="active item">
          <%= current_user.username.capitalize %>
        </a>

        <span class="item">Users
          <%= render @users%>
        </span>

        <span class="item">Rooms
          <%= render @rooms%>
        </span>
      </div>
    </div>
  </div>
</div>