<div class="ui inverted small menu">
  <div class="ui container">
    <a href='/' class=" item">
      Chatroom
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
          <%= link_to 'log out', logout_path, data: { turbo_method: 'delete'}, class: 'item'%>

          <%else%>
          <%= link_to 'log in', login_path, class: 'item'%>
          <a class="item">Sign up</a>
          <%end%>
        </div>
      </div>
      <% if  !logged_in?%>
      <div class="item">
        <%= link_to 'log in', login_path, class: 'ui primary button'%>
      </div>
      <%else%>
      <div class="item">
        <%= link_to 'log out', logout_path, data: { turbo_method: 'delete'}, class: 'ui primary button'%>
      </div>
      <%end%>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".ui.dropdown").dropdown();
  });
</script>